# Web Scraper
/scraper/node_modules
/scraper/documents.db-journal
/scraper/documents.db

# AI Bot
/bot/.env
/bot/documents
/bot/documents.db

# Website
/website/node_modules
/website/.next
/website/.env
/website/.env*.local

# TEMP
/offload/
test.py
bot/old code/links.txt
bot/old code/skipped_links.txt
scraper/documents.db
bot/chromadb
bot/old code/chromadb
