# Web Scraper
/scraper/node_modules
/scraper/documents.db
/scraper/documents.db-journal

# AI Bot
/bot/something

# Website
/website/node_modules
/website/.next
/website/.env
/website/.env*.local

# TEMP
/offload/
test.py