.home {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - $navbar-height);

  .card {
    display: flex;
    align-items: flex-start;
    gap: 2rem;
    // max-width: 600px;
    padding: 2rem;
    // border: 1px solid $border-color-1;
    border-radius: 1rem;

    .content {
      h2 {
        font-size: 3.5rem;
        font-weight: 700;
        letter-spacing: 2px;
        color: $text-color-1;
      }

      p {
        font-size: 1.3rem;
        color: $text-color-2;
      }

      .links {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-top: 1rem;

        a.chat {
          display: flex;
          align-items: center;
          gap: 0.3rem;
          padding: 0.5rem 2rem;
          text-decoration: none;
          font-weight: 400;
          font-size: 1.1rem;
          color: $text-color-1;
          background: $button-gradient-1;
          border: 1px solid $border-color-1;
          border-radius: 1rem;
          transition: 300ms ease-in-out;
          backdrop-filter: blur(2px);
  
          &:hover { filter: brightness(1.2); }
        }

        a.about {
          padding: 0.5rem;
          text-decoration: none;
          font-size: 1.1rem;
          color: $text-color-1;

          &:hover { text-decoration: underline; }
        }
      }
    }
  }
}