$navbar-height: 60px;

// ?
$theme-color-1: rgb(80, 180, 80); // Don't think will be needed

// TEXT COLORS
$text-color-1: rgb(255, 255, 255);
$text-color-2: rgb(200, 200, 200);
$text-color-3: rgb(150, 150, 150);

// BACKGROUND COLORS
$bg-color-1: #000000; // BACKGROUND-COLOR DARK MODE | ALSO WILL NEED TO ADD LIGHT MODE
// CONTAINER COLORS
$bg-color-2: #111111; // PROMPT CONTAINER (OPACITY 50%)
$chat-color-1: #002502; // AI BOT CHAT CONTAINER (OPACITY 50%)
$chat-color-2: #005E06; // USER CHAT CONTAINER (OPACITY 50%)

// LINER GRADIENTS COLORS | BACKGROUND
$bg-gradient-1: linear-gradient(#001F02, #001301); // Note: the navbar should be transparent, you should be able to see below | NAVBAR
$bg-gradient-2: #227226; // In the design it is with less than 50% opacity. Also, we could use the transparent image for his gradient | BACKGROUND
// LINEAR GRADIENTS COLORS | BUTTON
$button-gradient-1: linear-gradient(#001501, #001F02); // BUTTON GRADIENT BACKGROUND

// BORDER COLORS
$border-color-1: #227226; // BUTTON BORDER
