$navbar-height: 60px;

$theme-color-1: rgb(80, 180, 80);

$text-color-1: rgb(230, 230, 230);
$text-color-2: rgb(200, 200, 200);
$text-color-3: rgb(150, 150, 150);

$bg-color-1: rgb(10, 10, 15);
$bg-color-2: rgb(25, 25, 30);
$bg-color-3: rgb(40, 40, 45);

$border-color-1: rgb(30, 30, 30);
$border-color-2: rgb(50, 50, 50);
$border-color-3: rgb(70, 70, 70);