.navbar {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: $navbar-height;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 1rem;
  padding: 0 1rem;
  background: rgba(0, 0, 0, 0.5);
  overflow: hidden;

  h1 {
    font-size: 1.7rem;
    letter-spacing: 2px;
    font-weight: 700;
    color: $text-color-1;
  }

  .navLinks {
    display: flex;
    align-items: center;

    a {
      align-self: stretch;
      display: flex;
      align-items: center;
      gap: 0.3rem;
      padding: 0 1rem;
      text-decoration: none;
      font-size: 1.1rem;
      color: rgb(200, 200, 200);

      &:hover { color: rgb(230, 230, 230); }
      &.active { font-weight: 700; }
    }
  }
}